@using CMS.Common.Enums
@model CMS.Models.Gallery.GalleryNewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = @_localizer["title"];
}

<form asp-action="Create" class="row g-3 needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ParentId" />
    <div class="col-md-12">
        <label asp-for="Title" class="form-label">@_localizer["gallery_title"]</label>
        <input asp-for="Title" class="form-control"  id="sourceUrl">
        <span asp-validation-for="Title" class="invalid-feedback">@_localizer["gallery_title_invalid"]</span>
    </div>
    <div class="col-md-12">
        <label asp-for="Description" class="form-label">@_localizer["description"]</label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="invalid-feedback">@_localizer["description_invalid"]</span>
    </div>
    <div class="col-md-12">
        <label asp-for="Url" class="form-label">@_localizer["url"]</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="url">@ViewBag.Domain/</span>
            <input asp-for="Url" class="form-control" aria-describedby="url" id="destUrl">
            <button class="btn btn-outline-secondary" type="button" id="generate_url">@_localizer["generate_url"]</button>
        </div>
        <span asp-validation-for="Url" class="invalid-feedback">@_localizer["url_invalid"]</span>
    </div>
    <div class="col-md-6">
        <label asp-for="PreviewImg" class="form-label">@_localizer["preview_img"]</label>
        <input asp-for="PreviewImg" class="form-control">
        <span asp-validation-for="PreviewImg" class="invalid-feedback">@_localizer["preview_img_invalid"]</span>
    </div>
    <div class="col-md-6">
        <label asp-for="DateTime" class="form-label">@_localizer["datetime"]</label>
        <input asp-for="DateTime" class="form-control">
        <span asp-validation-for="DateTime" class="invalid-feedback">@_localizer["datetime_invalid"]</span>
    </div>
    <div class="col-md-6">
        <label asp-for="SortBy" class="form-label">@_localizer["sort_by"]</label>
        <select asp-for="SortBy" asp-items="@Html.GetEnumSelectList(typeof(SortByType))" class="form-control"></select>
        <span asp-validation-for="SortBy" class="invalid-feedback">@_localizer["sort_by_invalid"]</span>
    </div>

    <div class="col-12">
        <input class="btn btn-dark" type="submit" value="@_localizer["create_button"]" />
    </div>
</form>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", () => { new admin.UrlController("sourceUrl", "destUrl", "generate_url"); });
    </script>
}