@model CMS.Models.Calendar.CalendarDetailModel

@{
    ViewBag.Title = _localizer["title"];
}

<p><strong>@_localizer["calendar_title"]:</strong> @Model.Title</p>
<p><strong>@_localizer["description"]:</strong> @Model.Description</p>
<p><strong>@_localizer["datetime_from"]:</strong> @Model.DateTimeFrom</p>
@if (Model.DateTimeTo > Model.DateTimeFrom)
{
    <p><strong>@_localizer["datetime_to"]:</strong> @Model.DateTimeTo</p>
}
else
{
    <p><strong>@_localizer["datetime_to"]:</strong> -</p>
}

<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>
