@model CMS.Models.Calendar.CalendarModel

@{
    ViewBag.Title = _localizer["title"];
}

<p><strong>@_localizer["calendar_title"]:</strong> @Model.Title</p>
<p><strong>@_localizer["description"]:</strong> @Model.Description</p>
<p><strong>@_localizer["datetime_from"]:</strong> @Model.DateTimeFrom</p>
<p><strong>@_localizer["datetime_to"]:</strong> @Model.DateTimeTo</p>