@model CMS.Models.Calendar.CalendarUpdateModel

@{
    ViewBag.Title = @_localizer["title"];
}

<form asp-action="Edit" class="row g-3 needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="col-md-12">
        <label asp-for="Title" class="form-label">@_localizer["event_title"]</label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="invalid-feedback">@_localizer["event_title_invalid"]</span>
    </div>
    <div class="col-md-12">
        <label asp-for="Description" class="form-label">@_localizer["description"]</label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="invalid-feedback">@_localizer["description_invalid"]</span>
    </div>
    <div class="col-md-6">
        <label asp-for="DateTimeFrom" class="form-label">@_localizer["datetime_from"]</label>
        <input asp-for="DateTimeFrom" class="form-control">
        <span asp-validation-for="DateTimeFrom" class="invalid-feedback">@_localizer["datetime_from_invalid"]</span>
    </div>
    <div class="col-md-6">
        <label asp-for="DateTimeTo" class="form-label">@_localizer["datetime_to"]</label>
        <input asp-for="DateTimeTo" class="form-control">
        <span asp-validation-for="DateTimeTo" class="invalid-feedback">@_localizer["datetime_to_invalid"]</span>
    </div>

    <div class="col-12">
        <input class="btn btn-dark" type="submit" value="@_localizer["edit_button"]" />
    </div>
</form>