@model CMS.Models.MenuItem.MenuItemModel

@{
    ViewBag.Title = _localizer["title"];
}

@section Button {
    <a asp-action="Create" asp-route-parentId="@Model.Id"
       class="btn btn-dark btn-custom-big">@_localizer["create_button"]</a>
}

<div class="text-center">
    <h1 class="display-5 fw-bold">@Model.Title</h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover bg-white table-striped">
        <thead class="table-dark">
        <tr>
            <th>@_localizer["menuitem_title"]</th>
            <th>@_localizer["url"]</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.MenuList.Count; i++)
        {
            var item = Model.MenuList[i];
            <tr>
                <th scope="row">@item.Title</th>
                <th scope="row">@item.Url</th>
                <th scope="row">
                    @if (i - 1 >= 0)
                    {
                        <a asp-action="ChangeOrder" asp-route-firstItem="@Model.MenuList[i - 1].Id"
                           asp-route-secondItem="@item.Id" class="link-dark text-decoration-none me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </a>
                    }
                    @if (i + 1 < Model.MenuList.Count)
                    {
                        <a asp-action="ChangeOrder" asp-route-firstItem="@item.Id"
                           asp-route-secondItem="@Model.MenuList[i + 1].Id" class="link-dark text-decoration-none me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </a>
                    }
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link-dark text-decoration-none me-2"
                       title="@_localizer["edit"]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pen" viewBox="0 0 16 16">
                            <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link-dark text-decoration-none me-2"
                       title="@_localizer["delete"]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>