@page
@model LogoutModel
@{
    ViewData["Title"] = @_localizer["title"];
}

<div class="row g-3">
    <h1 class="h3 mb-3 display-6 fw-bold">@ViewData["Title"]</h1>
    <div class="col-12">
        <div asp-validation-summary="All" class="invalid-feedback"></div>
    </div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark w-100 btn btn-lg btn-dark">@_localizer["log_out"]</button>
            </form>
        }
        else
        {
            
            <div class="col-12">
                <p>@_localizer["successful_logout"]</p>
            </div>
        }
    }
</div>